// Brand colors
$primary-color-500: #8a42db;
$primary-color-400: #9955e8;
$secondary-color: #7dffaf;

// Surface colors
$surface-background: #171023;
$surface-primary: #2c243b;
$surface-secondary: #413a4f;
$surface-tertiary: #4e4563;
$techs-color: #9955e8;

// Text colors
$text-primary: #f5f6f6;
$text-secondary: #cdd0d4;

// Button
$button-primary-default: #8a42db;
$button-primary-hover: #9955e8;

// Stroke
$stroke-focus-state: #f5f6f6;
$stroke-highlight: #7dffaf;
$stroke-base: #413a4f;

// shadow
$card-shadow-color: rgba(125, 255, 175, 0.24);
