<header class="header">
  <div class="logo hs">LOGO</div>
  <div class="header-components desktop">
    <nav class="nav-desktop-menu">
      <a href="#" class="menu-item">Home</a>
      <a href="#" class="menu-item">About</a>
      <a href="#" class="menu-item">Projects</a>
      <a href="#" class="menu-item">Contact</a>
    </nav>
    <div class="actions">
      <div>PT</div>
      <div><fa-icon [icon]="sunIcon"></fa-icon></div>
    </div>
  </div>
  <button
    class="mobile-toggle"
    [@fadeInOut]="isMenuOpen ? 'open' : 'closed'"
    (click)="toggleMenu()"
  >
    <fa-icon [icon]="burgerIcon"></fa-icon>
  </button>
  <div class="header-components mobile">
    <nav class="nav-mobile-menu">
      <a href="#" class="menu-item">Home</a>
      <a href="#" class="menu-item">About</a>
      <a href="#" class="menu-item">Projects</a>
      <a href="#" class="menu-item">Contact</a>
    </nav>
    <div class="divider"></div>
    <div class="actions">
      <app-button
        color="secondary surface-2"
        [buttonIcon]="sunIcon"
        typeButton="icon"
      ></app-button>
      <app-button
        color="secondary surface-2"
        buttonLabel="PT"
        typeButton="icon"
      ></app-button>
    </div>
  </div>
</header>
<div class="initial-container">
  <div class="main-presentation">
    <div class="img-container">
      <img src="../assets/telecommuting-animate.svg" alt="presentation image" />
    </div>
    <div class="info">
      <h1 class="hs title">Hi, I'm Yuri</h1>
      <div class="details">
        <p class="role">Full-stack developer and innovation enthusiast</p>
        <p class="auto-description">
          Over 4 years of experience in the tech industry. I specialize in
          building innovative web and mobile applications using technologies
          such as React, React Native, and Node.js.
        </p>
      </div>
    </div>
  </div>
  <div class="actions">
    <app-button
      class="reverse"
      buttonLabel="My resume"
      color="secondary reverse"
      [buttonIcon]="resumeIcon"
    ></app-button>
    <app-button
      buttonLabel="Get in touch"
      color="primary"
      [buttonIcon]="rightArrowIcon"
    ></app-button>
  </div>
  <div class="arrow">
    <img src="../assets/arrow.svg" alt="just an arrow pointing down" />
  </div>
</div>

<div class="more-about-me-container">
  <div class="image">
    <img
      src="../assets/operating system-amico.svg"
      alt="a developer illustration sitting at a laptop"
    />
  </div>
  <div class="info">
    <div class="techs">
      <fa-icon [icon]="jsIcon"></fa-icon>
    </div>
    <div class="about-me details">
      <p class="hs">About me</p>
      <p class="role">
        I’m a passionate software developer looking for my first international
        oppotunity
      </p>
      <p class="auto-description">
        Beyond coding, I'm a coffee enthusiast, a cat lover, and a self-taught
        artist who enjoys spending my free time doodling. I am currently seeking
        opportunities to bring my skills and enthusiasm to a tech company in the
        United States or Europe and am excited about the prospect of relocating
        to pursue new challenges.
      </p>
    </div>
  </div>
  <app-button
    [buttonIcon]="resumeIcon"
    buttonLabel="My resume"
    color="primary reverse"
  ></app-button>
</div>
