@import "./styles/variables";

.initial-container {
  .title {
    font-weight: 400;
    background: var(--brand-gradient-horizontal, linear-gradient(90deg, #9955e8 0%, #7bffaf 50%));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 0 1rem;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;

    .role {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .auto-description {
      color: $text-secondary;
      line-height: 1.5rem;
    }
  }

  .actions {
    padding: 1.5rem 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  position: relative;

  .arrow {
    position: absolute;
    right: 4rem;
  }
}

// Presentation 2
.more-about-me-container {
  margin-top: 2rem;
  padding: 4rem 1.5rem;
  background-color: $surface-primary;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .image {
    width: 80vw;
    margin: 0 auto;
  }

  .info {
    .techs {
      font-size: 1.5rem;
    }
  }

  .about-me {
    margin-top: 2rem;

    p:nth-child(1) {
      color: $stroke-highlight;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .role {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .auto-description {
      color: $text-secondary;
      line-height: 1.5rem;
    }
  }
}

// Projects
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3rem 1.5rem;

  & > .hs {
    color: $stroke-highlight;
  }

  & > .hs,
  .section-title {
    text-align: center;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  app-button {
    margin: 0 auto;
  }
}

// Contact
.contact-container {
  padding: 3rem 1.5rem;
  background-color: $surface-primary;

  .hs {
    margin-top: 2.5rem;
    color: $stroke-highlight;
  }

  .title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .call-action {
    color: $text-secondary;
    line-height: 1.5rem;
    margin: 1rem 0;

    a {
      color: $stroke-highlight;
    }
  }

  .social-buttons-container {
    display: flex;
    gap: 0.5rem;

    app-button {
      fa-icon {
        line-height: 0;
      }
    }
  }

  .form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-group {
      width: 100%;

      input,
      textarea {
        border-radius: 0.5rem;
        padding: 0.75rem 1rem;
        width: 100%;
        border-style: none;
        background-color: $surface-background;
        color: $text-secondary;

        &:focus-visible {
          outline-width: 1.5px;
          outline-color: $stroke-highlight;
          outline-style: solid;
        }
      }
    }
  }
}

.footer {
  color: $text-secondary;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 1rem;

  p {
    font-size: 0.875rem;
  }

  p > span {
    text-decoration: underline;
  }

  .action-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
