<header class="header">
  <div class="logo hs">LOGO</div>
  <div class="header-components desktop">
    <nav class="nav-desktop-menu">
      <a routerLink="/" class="menu-item">Home</a>
      <a href="#" class="menu-item">About</a>
      <a routerLink="projects" class="menu-item">Projects</a>
      <a href="#" class="menu-item">Contact</a>
    </nav>
    <div class="actions">
      <div>PT</div>
      <div><fa-icon [icon]="sunIcon"></fa-icon></div>
    </div>
  </div>
  <button
    class="mobile-toggle"
    [@fadeInOut]="isMenuOpen ? 'open' : 'closed'"
    (click)="toggleMenu()"
  >
    <fa-icon [icon]="burgerIcon"></fa-icon>
  </button>
  <div class="header-components mobile">
    <nav class="nav-mobile-menu">
      <a routerLink="/" class="menu-item">Home</a>
      <a href="#" class="menu-item">About</a>
      <a routerLink="projects" class="menu-item">Projects</a>
      <a href="#" class="menu-item">Contact</a>
    </nav>
    <div class="divider"></div>
    <div class="actions">
      <app-button
        color="secondary surface-2"
        [buttonIcon]="sunIcon"
        typeButton="icon"
      ></app-button>
      <app-button
        color="secondary surface-2"
        buttonLabel="PT"
        typeButton="icon"
      ></app-button>
    </div>
  </div>
</header>
<router-outlet></router-outlet>

<footer class="footer">
  <p>Yuri Santana 2023. Layout based on <span>Rocketseat's template </span></p>
  <div class="action-links">
    <a
      target="_blank"
      href="https://github.com/Player35Oficial"
      class="menu-item"
      >Github</a
    >
    <a
      target="_blank"
      href="https://www.linkedin.com/in/yuri-player35/"
      class="menu-item"
      >LinkedIn</a
    >
    <a
      target="_blank"
      href="https://instagram.com/player35_dev"
      class="menu-item"
      >Instagram</a
    >
    <app-button
      [buttonIcon]="upArrowIcon"
      color="secondary surface"
      (click)="clicouHehe()"
    ></app-button>
  </div>
</footer>
