@import "/src/styles.scss";

button {
  color: $text-primary;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: inline-flex;
  gap: 0.5rem;
  transition: background 0.2s;
  font-size: medium;
  line-height: 1.5;

  outline-offset: 2px;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    outline: 2px solid $secondary-color;
  }
}

.primary {
  background-color: $button-primary-default;

  &:hover {
    background-color: $button-primary-hover;
  }
}

.secondary {
  background-color: $surface-secondary;

  &:hover {
    background-color: $surface-tertiary;
  }

  &.surface {
    background-color: $surface-background;
  }

  &.surface-2 {
    background-color: $surface-secondary;

    &:hover {
      background-color: $surface-tertiary;
    }
  }
}

.icon-btn {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
