<div class="initial-container">
  <div class="main-presentation">
    <div class="img-container">
      <img src="../assets/telecommuting-animate.svg" alt="presentation image" />
    </div>
    <div class="info">
      <h1 class="hs title">Hi, I'm Yuri</h1>
      <div class="details">
        <p class="role">Full-stack developer and innovation enthusiast</p>
        <p class="auto-description">
          Over 4 years of experience in the tech industry. I specialize in
          building innovative web and mobile applications using technologies
          such as React, React Native, and Node.js.
        </p>
      </div>
    </div>
  </div>
  <div class="actions">
    <app-button
      class="reverse"
      buttonLabel="My resume"
      color="secondary reverse"
      [buttonIcon]="resumeIcon"
    ></app-button>
    <app-button
      buttonLabel="Get in touch"
      color="primary"
      [buttonIcon]="rightArrowIcon"
    ></app-button>
  </div>
  <div class="arrow">
    <img src="../assets/arrow.svg" alt="just an arrow pointing down" />
  </div>
</div>

<div class="more-about-me-container">
  <div class="image">
    <img
      src="../assets/operating system-amico.svg"
      alt="a developer illustration sitting at a laptop"
    />
  </div>
  <div class="info">
    <div class="techs">
      <fa-icon [icon]="jsIcon"></fa-icon>
    </div>
    <div class="about-me details">
      <p class="hs">About me</p>
      <p class="role">
        I’m a passionate software developer looking for my first international
        oppotunity
      </p>
      <p class="auto-description">
        Beyond coding, I'm a coffee enthusiast, a cat lover, and a self-taught
        artist who enjoys spending my free time doodling. I am currently seeking
        opportunities to bring my skills and enthusiasm to a tech company in the
        United States or Europe and am excited about the prospect of relocating
        to pursue new challenges.
      </p>
    </div>
  </div>
  <app-button
    [buttonIcon]="resumeIcon"
    buttonLabel="My resume"
    color="primary reverse"
  ></app-button>
</div>

<div class="projects-container">
  <span class="hs">Projects</span>
  <h2 class="section-title">Take a look at my highlight projects</h2>
  <div class="cards-container">
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
  </div>
  <app-button
    [buttonIcon]="rightArrowIcon"
    buttonLabel="See all"
    color="secondary"
    class="button"
  ></app-button>
</div>

<div class="contact-container">
  <img
    src="../assets/good-team-pana.svg"
    alt="just an image illustrate a collaborative team"
  />
  <div class="contact-me">
    <p class="hs">Contact</p>
    <p class="title">Enjoyed my work? Let's work together</p>
    <p class="call-action">
      I'm always up for a chat. Pop me an email at
      <a href="mailto:yuri.dev35@gmail.com">yuri.dev35@gmail.com</a> or give me
      a shout on social media.
    </p>

    <div class="social-buttons-container">
      <app-button
        [buttonIcon]="githubIcon"
        typeButton="icon"
        color="secondary"
      ></app-button>
      <app-button
        [buttonIcon]="linkedInIcon"
        typeButton="icon"
        color="secondary"
      ></app-button>
      <app-button
        [buttonIcon]="instagramIcon"
        typeButton="icon"
        color="secondary"
      ></app-button>
    </div>

    <form class="form" action="">
      <div class="form-group">
        <input type="text" name="name" id="name" placeholder="Name" />
      </div>

      <div class="form-group">
        <input type="email" name="email" id="email" placeholder="Email" />
      </div>

      <div class="form-group">
        <textarea
          name="message"
          id="message"
          placeholder="Your message"
        ></textarea>
      </div>

      <app-button
        [buttonIcon]="rightArrowIcon"
        buttonLabel="Send me a message"
        color="primary"
      ></app-button>
    </form>
  </div>
</div>
