<div class="project-card">
  <div class="links-container">
    <a class="link" href="">ICO</a>
    <a class="link" href="">ICO</a>
  </div>
  <img class="img" src="" alt="imagem do card" />
  <div class="info">
    <span class="project-period">Jul - Dec 2022</span>
    <div class="tech-list">
      <fa-icon [icon]="FaJS"></fa-icon>
      <span class="tech-icon">RC</span>
      <span class="tech-icon">NO</span>
    </div>
  </div>
  <div class="main-info">
    <p class="title">Nome do projeto</p>
    <p class="description">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
      excepturi sequi dicta illo praesentium vel qui natus quae asperiores dolor
      cumque tempora facilis obcaecati maxime nihil, quasi, voluptates quas
      corporis.
    </p>
  </div>
</div>
