/* You can add global styles to this file, and also import other style files */
@import 'app/styles/variables';
@import 'app/styles/tipography';

* {
  font-family: $body-font-family;
}

body {
  background-color: $surface-background;
  color: $text-primary;
}

fa-icon {
  height: min-content;
}
