/* You can add global styles to this file, and also import other style files */
@import 'app/styles/variables';
@import 'app/styles/tipography';

* {
  font-family: $body-font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $surface-background;
  color: $text-primary;
}

fa-icon {
  height: min-content;
}

.hs {
  font-family: $header-hs-font-family;
}

.menu-item {
  color: $text-secondary;
  transition: 0.2s;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;

  &:hover {
    color: $text-primary;
    cursor: pointer;
  }

  &:focus-visible {
    outline: 2px solid $secondary-color;
  }
}

// HEADER
.header {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;

  .header-components {
    display: flex;
    gap: 1rem;

    .actions {
      display: flex;
      gap: 1rem;
    }
  }
}
