/* You can add global styles to this file, and also import other style files */
@import "app/styles/variables";
@import "app/styles/tipography";

* {
  font-family: $body-font-family;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $surface-background;
  color: $text-primary;
  overflow-x: hidden;
}

fa-icon {
  height: min-content;
}

.hs {
  font-family: $header-hs-font-family;
}

.menu-item {
  color: $text-secondary;
  transition: 0.2s;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;

  &:hover {
    color: $text-primary;
    cursor: pointer;
  }

  &:focus-visible {
    outline: 2px solid $secondary-color;
  }
}

.blur {
  filter: blur(8px);
}

// HEADER
.header {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;

  .header-components {
    display: flex;
    gap: 1rem;

    .actions {
      display: flex;
      gap: 1rem;
    }
  }

  button {
    background-color: transparent;
    color: $text-primary;
    border-style: none;
    font-size: 1.125rem;
    height: 32px;
    width: 32px;
    border-radius: 0.5rem;
    transition: background 0.2s;

    &:hover {
      cursor: pointer;
      background-color: $surface-secondary;
    }
  }
}

.header-components.mobile,
.mobile-toggle {
  display: none;
}

// RESPONSIVE HEADER
@media (max-width: 768px) {
  .header {
    padding: 1.5rem 1rem;
  }

  .header-components.desktop {
    display: none;
  }

  .mobile-toggle {
    display: block;
  }

  .header-components.mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 74px;
    right: 0;
    background-color: $surface-primary;
    height: calc(100% - 74px);
    width: 280px;
    transform: translateX(280px);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;

    .nav-mobile-menu {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      .menu-item {
        padding: 1rem 0;
      }
    }

    .divider {
      height: 1px;
      border-top: 1px solid $surface-tertiary;
      padding: 0 1rem;
    }

    .actions {
      padding: 1rem;
    }
  }

  .header-components.mobile.open {
    transform: translateX(0);
  }
}
